
<app-header></app-header>

<div style="display:flex">
    <div class='container coluna teste' [dragula]='"bag-task1"' [dragulaModel]='MagiaGrimorio' [dragulaOptions]="options">
        <p-card title="{{text.nome}}" subtitle="Subtitle" styleClass="ui-card-shadow" class="Card99" *ngFor="let text of MagiaGrimorio">
            <p-header [innerHtml]='text.nome'></p-header>
            <p-footer>
                <button pButton type="button" label="Save" icon="fa-check"></button>
                <button pButton type="button" label="Cancel" icon="fa-close" class="ui-button-secondary"></button>
            </p-footer>
        </p-card>
    </div>
    <div class='container coluna2 teste' [dragula]='"bag-task1"' [dragulaModel]='MagiaPlayer' [dragulaOptions]="options2">
        <p-card title="Advanced Card" subtitle="Subtitle" styleClass="ui-card-shadow" class="Card99" *ngFor="let text of MagiaPlayer">
            <p-header [innerHtml]='text.nome'></p-header>
            <p-footer>
                <button pButton type="button" label="Save" icon="fa-check"></button>
                <button pButton type="button" label="Cancel" icon="fa-close" class="ui-button-secondary"></button>
            </p-footer>
        </p-card>
    </div>
    <div class='container coluna teste' [dragula]='"bag-task1"' [dragulaModel]='MagiaGrimorio' [dragulaOptions]="options">
        <p-card title="{{text.nome}}" subtitle="Subtitle" styleClass="ui-card-shadow" class="Card99" *ngFor="let text of MagiaGrimorio2">
            <p-header [innerHtml]='text.nome'></p-header>
            <p-footer>
                <button pButton type="button" label="Save" icon="fa-check"></button>
                <button pButton type="button" label="Cancel" icon="fa-close" class="ui-button-secondary"></button>
            </p-footer>
        </p-card>
    </div>
    <div class='container coluna2 teste' [dragula]='"bag-task1"' [dragulaModel]='MagiaPlayer' [dragulaOptions]="options2">
        <p-card title="Advanced Card" subtitle="Subtitle" styleClass="ui-card-shadow" class="Card99" *ngFor="let text of MagiaPlayer2">
            <p-header [innerHtml]='text.nome'></p-header>
            <p-footer>
                <button pButton type="button" label="Save" icon="fa-check"></button>
                <button pButton type="button" label="Cancel" icon="fa-close" class="ui-button-secondary"></button>
            </p-footer>
        </p-card>
    </div>
    <div class='container coluna2 teste' [dragula]='"bag-task1"' [dragulaModel]='MagiaPlayer' [dragulaOptions]="options2">
        <p-card title="Advanced Card" subtitle="Subtitle" styleClass="ui-card-shadow" class="Card99" *ngFor="let text of MagiaPlayer2">
            <p-header [innerHtml]='text.nome'></p-header>
            <p-footer>
                <button pButton type="button" label="Save" icon="fa-check"></button>
                <button pButton type="button" label="Cancel" icon="fa-close" class="ui-button-secondary"></button>
            </p-footer>
        </p-card>
    </div>
  </div>



