<div>

<button pButton type="button size" (click)="count()" label="Primary" class="button size"></button>
<button pButton type="button size" (click)="count()" label="Secondary" class="ui-button-secondary button size"></button>
<button pButton type="button size" (click)="count()" label="Success" class="ui-button-success button size"></button>
<button pButton type="button size" (click)="count()" label="Info"  class="ui-button-info button size"></button>
<button pButton type="button size" (click)="count()" label="Warning"  class="ui-button-warning button size"></button>
<button pButton type="button size" (click)="count()" label="Danger"  class="ui-button-danger button size"></button>
</div>